@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background: rgb(6, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /*box-shadow: 0 35px 35px rgb(60, 75, 97);*/
}

.container .izq {
    position: relative;
    background-color: rgb(36, 98, 100);
    padding: 40px;
    
}

.container .der {
    position: relative;
    background-color:cadetblue;
    padding: 40px;
}

.imgRedonda {
    width:300px;
    height:300px;
    border-radius:150px;
}

.perfil h2 {
    color: aliceblue;
    padding-top: 10px;
    font-weight: 400;
}

.perfil h3 {
    color: aliceblue;
    padding-top: 10px;
    font-weight: 200;
}

.perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(179, 125, 125);
}

.contacto {
    padding-top: 40px;
    color: aliceblue;
}

.contacto h4{
    color: aliceblue;
    font-weight: 300;
}

.contacto ul {
    position: relative;
    padding-top: 5px;
    color: aliceblue;
    font-weight: 200;
}

.contacto li {
    position: relative;
    list-style: none;
    cursor: pointer;
}

.contacto ul li .icono {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color:rgb(224, 166, 166);
}

.contacto .texto {
    color: aliceblue;
    text-decoration-line: none;
}

.pdf {
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid rgb(179, 125, 125);
    color: aliceblue;
    text-decoration-line: none;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(179, 125, 125);
}

.aptitudes {
    margin-top: 20px;
    color: antiquewhite;
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(179, 125, 125);
}

.aptitudes h4{
    color: aliceblue;
    font-weight: 300;
}

.aptitudes ul {
    position: relative;
    padding-top: 5px;
    color: aliceblue;
    font-weight: 200;
}

.aptitudes li {
    list-style: circle;
}

.idiomas {
    margin-top: 20px;
    color: antiquewhite;
    padding-top: 20px;
}

.idiomas h4 {
    color: aliceblue;
    font-weight: 300;
}

.idiomas ul {
    position: relative;
    color: aliceblue;
    font-weight: 200;
    padding-top: 5px;
}

.idiomas .porcentaje{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(6, 27, 27) ;
    display: block;
    margin-top: 2px;
}

.idiomas .porcentaje div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:rgb(179, 125, 125)
}

.idiomas li{
    list-style: none;
    padding-bottom: 10px;
}

.der li {
    padding-top: 10px;
}

footer {
    display: block;
}